@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #0024f3;
}

body {
  background: #dbf0f1;
  margin: 0;
  font-family: 'Poppins';
  
}
/* body{
  background-image: url("/ID-Assignment1/images/picture\ of\ cruise.jpg");
  z-index: -1;
} */
/* .hero .container{

  background-color: red;
} */
.background-container{
  background-image: url("/ID-Assignment1/images/picture\ of\ cruise.jpg");
  z-index: -1;
  width: 1888px;
  height: 288px;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}
.hero .container{               /* way more than a cruise container */
  position: relative;
  
}
.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .des-primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.3em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}


section.features-section {
  /* background: #20272E; */
  background-image: url(/ID-Assignment1/images/for-features-section-img.jpg);
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.des-features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.singapore .des-features-list{
  margin-left: 1em;
}

.paris .des-features-list{
  margin-left: 1em;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.des-features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

ul.des-features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.reviews-section {
  /* background: var(--primary-color); */
  background-image: url(/ID-Assignment1/images/picture\ of\ cruise.jpg);
  background-image: no-repeat;
  color: white;
}

.reviews-section li {
  background: #006BD6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.reviews-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006BD6;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

.left-col h1{
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
  letter-spacing: .1em;
}
.alaska-img,.nk-img{
  margin-bottom: 2em;
  margin-top: 3em;
  width: 100%;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.reciept h2{
  text-align: center;
}

.hero-destinations-cta{
  /* background: var(--primary-color); */
  color: white;
  text-decoration: none;
  /* padding: .6em 1.3em; */
  font-size: 0.8em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  z-index: 200;
}


.container-1{
  display: flex;
  border-radius: 2em;
}
.container-2{
  display: flex;
  border-radius: 2em;
}
.container-3{
  display: flex;
  border-radius: 2em;
}
.container-4{
  display: flex;
  border-radius: 2em;
}
.name-of-obj li{
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 3em;
  font-weight: bold;
  margin-right: 1.7em;
  position: relative;
  color: whitesmoke;

}




.reciept .destination-1 li{
  display: flex;
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 3em;
  position: relative; 
  padding-right: 2em;
  color: whitesmoke;
}

.destination-1{
  margin-bottom: 3em;
}

.reciept .destination-2 li{
  display: flex;
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 3em;
  position: relative;
  padding-right: 2em;
  color: whitesmoke;
}

.destination-2{
  margin-bottom: 3em;
}
.reciept .destination-3 li{
  display: flex;
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 3em;
  position: relative; 
  padding-right: 2em;
  color: whitesmoke;
}

.destination-3{
  margin-bottom: 3em;
}

.reciept .destination-4 li{
  display: flex;
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 3em;
  position: relative; 
  padding-right: 2em;
  color: whitesmoke;
}

.destination-4{
  margin-bottom: 3em;
}

.container-1, .container-2, .container-3, .container-4{
  background: rgb(16, 111, 167);
  margin-bottom: 2em;
  margin-top: 1em;
}
.deals-container h1 {
  font-size: 3em;
  font: "Poppins";
  color: white;
}

.deals-container{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;  
}
.deals-container p{
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: .3em;
}
.deal-1 h1{
  font-size: 1.8em;
}
.deal-1{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3em;
}
.deal-1 .container{
  background: rgb(241, 51, 210);
  border-radius: .4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}
.deal-1 p{
  font-size: 1em;
  letter-spacing: .3em;
  margin-bottom: 2em;
}
.deal-1 .price-of-deal{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}

.deal-2 h1{
  font-size: 1.8em;
}
.deal-2{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3em;
}
.deal-2 .container{
  background: rgb(241, 206, 51);
  border-radius: .4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}
.deal-2 p{
  font-size: 1em;
  letter-spacing: .3em;
  margin-bottom: 2em;
}
.deal-2 .price-of-deal{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}

.deal-3 h1{
  font-size: 1.8em;
}
.deal-3{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3em;
}
.deal-3 .container{
  background: rgb(252, 123, 49);
  border-radius: .4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}
.deal-3 p{
  font-size: 1em;
  letter-spacing: .3em;
  margin-bottom: 2em;
}
.deal-3 .price-of-deal{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}

.deal-4 h1{
  font-size: 1.8em;
}
.deal-4{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3em;
}
.deal-4 .container{
  background: rgb(51, 241, 146);
  border-radius: .4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}
.deal-4 p{
  font-size: 1em;
  letter-spacing: .3em;
  margin-bottom: 2em;
}
.deal-4 .price-of-deal{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}


.deal-5 h1{
  font-size: 1.8em;
}
.deal-5{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3em;
}
.deal-5 .container{
  background: rgb(126, 205, 241);
  border-radius: .4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}
.deal-5 p{
  font-size: 1em;
  letter-spacing: .3em;
  margin-bottom: 2em;
}
.deal-5 .price-of-deal{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0;
}
.deal-1 .container{
  background-image: url("/ID-Assignment1/images/picture\ of\ cruise.jpg");
}
.deal-2 .container{
  background-image: url("/ID-Assignment1/images/deal\ images\(1\).jpg");
}
.deal-3 .container{
  background-image: url("/ID-Assignment1/images/deal\ images\(4\).jpg");
}
.deal-4 .container{
  background-image: url("/ID-Assignment1/images/deal\ images\(2\).jpg");
}
.deal-5 .container{
  background-image: url("/ID-Assignment1/images/deal\ images\(3\).jpg");
}
.para{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: .3em; 
  font-size: 0.5em;

}
.reciept .container .header .des-primary-cta{
  color: whitesmoke;
}
.deals-header{
  background-image: url("/ID-Assignment1/images/deals-header\ image.jpg");
}
@media only screen and (min-width: 1000px) {
  .deals-container{
    text-align: right;
    padding-right: 4em;
    margin-left: em;
  }
} 
@media only screen and (min-width: 1000px){
  .deal-1{
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .deals-sub-container{
    display: flex;
  }
  .deal-3 .container{
    max-width: 440px;
  }
  .deal-4 .container{
    max-width: 440px;
  }
  .deal-5 .container{
    max-width: 440px;
  }
} 

@media only screen and (min-wdith: 1080px){
  .alaska .des-features-list{
    text-align: center;
  }
  .alaska .container{
    padding-bottom: none;
    margin-bottom: 2em;
    
  }
  .alaska .des-features-list{
    text-align: center;
  }
  .des-features-list{
    column-width: 200px;
  }

}
.alaska .container{
  background-image: url(/ID-Assignment1/images/alaska-img.jpg);
  border-radius: 1em;
}
.korea .container{
  border-radius: 1em;
  background-image: url(/ID-Assignment1/images/korea-img.jpg);
}
.japan .container{
  border-radius: 1em;
  background-image: url(/ID-Assignment1/images/japan-img.jpg);
}
.paris .container{
  border-radius: 1em;
  background-image: url(/ID-Assignment1/images/paris-img.jpg);
}


.alaska .des-features-list{
  margin-left: 1em;
}
.korea .des-features-list{
  margin-left: 1em;
}
.japan .des-features-list{
  margin-left: 1em;
}
.learn-more{
  text-align: center;
  font-size: 1em;
  letter-spacing: .3em;
  font-weight: bold;
}
.alaska .left-col{
  color: whitesmoke;
}
.japan .left-col{
  color: whitesmoke;
}


@media only screen and (min-wdith: 768px){
  .container-1{
    text-align: center;
    justify-content: center;
  }
}



@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset; 
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.purchase-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.purchase-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .des-primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.des-features-list{
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.des-features-list{
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  /* ul.des-features-list{
    width: 30px;
    height: 30px;
  } */
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .reviews-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reviews-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}

@media only screen and (min-width: 1080px){
  .alaska .container{
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .alaska .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .alaska .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .alaska .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .alaska-img {
    width: 30%;
    margin-right: 8em;
  }
  .des-primary-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .des-primary-cta {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1080px){
  .korea .container{
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .korea .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .korea .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .korea .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .korea-img {
    width: 30%;
    margin-right: 8em;
  }
  .des-primary-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .des-primary-cta {
    margin-right: 1em;
  }
}


@media only screen and (min-width: 1080px){
  .japan .container{
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .japan .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .japan .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .japan .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .japan-img {
    width: 30%;
    margin-right: 8em;
  }
  .des-primary-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .des-primary-cta {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1080px){
  .paris .container{
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .paris .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .paris .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .paris .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .paris-img {
    width: 30%;
    margin-right: 8em;
  }
  .des-primary-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .des-primary-cta {
    margin-right: 1em;
  }
}
